<div class="heading">
  <span><img id="logo" src="/assets/TciCity01.gif" /></span>
  <div class="main-heading"><span>Welcome to the <br> Tri-City Carvers Club</span></div>
</div>
<div>
  <p class="text-block">
    For over twenty years, the <b>Tri-City Carvers Club</b> has served carvers in the areas around Saginaw, Bay City and Midland, Michigan. Club meetings are held the first and third Tuesday of each month at the Saginaw Township Fire Hall, 6171 Shattuck Road (just west of Lawndale Road.) Meetings start at 7:00 PM.
  </p>
</div>
<hr>
<div>
  <h1>Join the Tri-City Carvers:</h1>
  <p class="text-block">
    Membership in the Tri-City Carvers is $20.00 for initial membership, then $15.00 per year thereafter. Late renewals are $20.00. Click <a href="../assets/TriCityapplication.pdf">HERE</a> for a downloadable application form.
  </p>
</div>