<div class="heading">
  <span><img id="logo" src="/assets/TciCity01.gif" /></span>
  <div class="main-heading"><span>Welcome to the <br> Tri-City Carvers Club</span></div>
</div>
<div>
  <p class="text-block">
    For over twenty years, the <b>Tri-City Carvers Club</b> has served carvers in the areas around Saginaw, Bay City and Midland, Michigan. Club meetings are held the first and third Tuesday of each month at the Saginaw Township Fire Hall, 6171 Shattuck Road (just west of Lawndale Road.) Meetings start at 7:00 PM.
  </p>
</div>
<hr>
<app-join></app-join>
<hr>
<app-newsletter></app-newsletter>
<!-- <hr>
<app-show></app-show> -->
<hr>
<app-seminars></app-seminars>
<hr>
<app-other-events></app-other-events>
<hr>
<app-mwca></app-mwca>
<hr>
<div>
  <p>
    Any questions or queries, send an e-mail to womeditor@comcast.com
  </p>
</div>
<br>
Last update June 2019