<div>
    <h1>Other Regional Events:</h1>
    <p class="text-block">
        For other Michigan events, check the events list at the <a href="http://www.miwoodcarvers.com/" target="_blank">MWCA web site</a> 
        For regional and national events, check the <b>Events, Happenin's & Going's-on</b> column in the current issue of 
         <a href="http://carverscompanion.com/" target="_blank">Woodcarver Onlne Magazine</a>.
    </p>
    <br>
    <p class="text-block">For other event listings, check current issues of <a href="http://chipchats.org/" target="_blank">Chip Chats</a> or <a href="http://carvingworld.com/" target="_blank">Woodcarving Illustrated</a>. Click the links for
    subscription information. Woodcarving Illustrated has an event calendar on their web sites.</p>
</div>
