body {
    font-size: large;
    margin-right: 100px;
    padding-left: 100px;
    --primary_green: rgb(0, 153, 0);
    
}

hr{
    color: rgb(0, 153, 0);
}

h1{
    color: var(--primary_green);
}

.main-heading{
    color: var(--primary_green);
    font-size: 58pt;
    text-align: center;
}